

<%= image_tag @store.product_image,height:"150",width:"150" %>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @store.price %>
</p>

<p>
  <strong>Season:</strong>
  <%= @store.season %>
</p>

<p>
  <strong>Plants type:</strong>
  <%= @store.plants_type %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
