
<h2 class="centered-text">Forgot your password?</h2>
<div class="form-padding">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, class:"col-4", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "btn btn-lg btn-secondary" %>
    </div>
  <% end %>
</div>
<%= render "devise/shared/links" %>

