<header>
   <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo"> <a href="index.html"><img src="/assets/logo.png" alt="#"></a> </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <div class="menu-area">
                        <div class="limit-box">
                           <nav class="main-menu">
                              <ul class="menu-area-main">
                                 <% unless request.path == "/" %>
                                    <li> <a href="/">Home</a> </li>
                                 <% end %>  
                                  <% if user_signed_in? %>
                                   <% $text=current_user %>
                                       <strong>Logged in as <%= current_user.name %></strong>

                                       <% if current_user.admin? %>
                                          <li><%= link_to "Admin", users_path, :class => 'navbar-link'  %></li>
                                       <% end %>
                                 
                                      <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
                                     <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                                    <% unless current_user.cart_id.nil? %> 
                                        <li><%= link_to cart_path(current_user.cart_id) do %>
                                             <img src="/assets/shopping-cart.png" alt="#">
                                          <% end %>
                                          </li>
                                    <% end %>

                                  <% else %>
                                    <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
                                    <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
                                    
                                    <% unless !(LineItem.where(cart_id: session[:cart_id]).any?) %>
                                       <li><%= link_to cart_path(session[:cart_id]) do %>
                                             <img src="/assets/shopping-cart.png" alt="#">
                                          <% end %>
                                          </li>
                                    <% end %>
                                  <% end %>

                                 <li><%= form_tag("/gallery/index", method: "get") do %>

                                       <%= select_tag :filter, options_for_select(filter_by_plant,params[:filter]), class: 'custom-select form-select', onchange: "this.form.submit()" %> 
                                      <%= text_field_tag :q, params[:q],  placeholder: 'search...' %>
                                     <%= submit_tag("Search") %>
                                      
                                    <% end %></li>
                              </ul>
                           </nav>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end header inner -->
</header>

