<% if @cart.line_items.empty?  %>   
   <%= render 'shared/plant' %>
<% else %>
    <h3>Your Cart</h3>
    <table class="table table-striped">
        <thead>
        	<tr>
        	    <th>Quantity</th>
                <th>Plant Name</th>
                <th>Price</th>
                <th>Amount</th>
                <th>      </th>
            </tr>
        </thead>
        <tbody>
            <tr>
            	<% @cart.line_items.each do |line_item| %>
                    <tr>
                	   <td><%= line_item.quantity %> &times; </td>
                	   <td><%= line_item.store.name %></td>
                       <td><%= number_to_currency(line_item.store.price, unit: "₹") %></td>
                	   <td><%= number_to_currency(line_item.total_price, unit: "₹") %></td>
                       <td>
                           <u><%= link_to "Add(+1)", line_item_add_path(line_item), method: :post%></u>&nbsp
                           <u><%= link_to "Reduce(-1)", line_item_reduce_path(line_item), method: :post %></u>&nbsp

                           <u><%= link_to "Remove", line_item_path(line_item), method: :delete %></u>
                               
                        </td>
                    </tr>
            	<% end %>
            </tr>
            <tr>
                <th colspan="3">Total Amount:</th>
                <th class="total_cell"><%= number_to_currency(@cart.total_price, unit: "₹") %></th>
            </tr>
        </tbody>
    </table>
    <% session[:amount] = @cart.total_price %>

    <%= link_to @cart , method: :delete, class: "btn btn-success" do %>
        Empty Cart
    <% end %>
    <%= link_to gallery_index_path, class: "btn btn-success" do %>
        Continue Shopping
    <% end %>
    <% if current_user %>
       <%= link_to new_charge_path, class: "btn btn-success" do %>
            Checkout
        <% end %>

       <%= link_to conversations_path(sender_id: current_user.id, recipient_id: User.admin.ids), method: "post", class: "btn btn-success" do %>
        Contact Admin
    <% end %>
    <% else %>
       <%= link_to new_user_session_path, class: "btn btn-success" do %>
            Login To Checkout
        <% end %>
        <%= link_to new_user_session_path, class: "btn btn-success" do %>
            Contact Admin
        <% end %>
    <% end %>
    

<% end %>